<div class="title text-center">
  List of Games
</div>

<table class="table table-sm table-hover table-striped"">
	<thead class="table-dark">
		<tr>
			<th style="text-align:center">frames</th>
			<th style="text-align:center" colspan="2">Actions</th>
	</thead>
	<tbody>
 
  <% @games.each do |game| %>
		<tr>   
			<td style="text-align:center">
	  			<%= game.frames %>
			</td>
			<td style="vertical-align:middle;text-align:center">
				<%= button_to 'Change', edit_game_path(game), :method => :get, :class => "btn btn-secondary btn-sm"%>
			</td>
			<td style="vertical-align:middle;text-align:center">
				<%= button_to 'Delete', game_path(game), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"%>
			</td>
    	</tr>
  <% end %>
</table>
<%= button_to 'New Game', new_game_path, :method => :get, :class => "btn btn-success btn-sm" %>